In [1]:
import pandas as pd
df = pd.read_csv('43260_purchased.csv')
df.head()

    User ID  Gender  Age  EstimatedSalary  Purchased
0  15624510    Male   19            19000          0
1  15810944    Male   35            20000          0
2  15668575  Female   26            43000          0
3  15603246  Female   27            57000          0
4  15804002    Male   19            76000          0

In [2]:
x=df.iloc[:,2:]
y=df.iloc[:,1]

In [3]:
x

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [4]:
x= x.dropna(axis=1)
x

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [5]:
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=10)
model.fit(x_train,y_train)
score = model.score(x_test,y_test)
print(score)

0.5875

In [6]:
#K FOLD CROSS VALIDATION
import numpy as np
from sklearn.model_selection import KFold
model = DecisionTreeClassifier()
kfold=KFold(15)

from sklearn.model_selection import cross_val_score
score = cross_val_score(model,x,y,cv=kfold)
print(score)
print(np.mean(score))

[0.62962963 0.59259259 0.62962963 0.48148148 0.44444444 0.44444444
 0.40740741 0.40740741 0.44444444 0.59259259 0.42307692 0.61538462
 0.65384615 0.61538462 0.5       ]
0.5254510921177589

In [7]:
from sklearn.model_selection import StratifiedKFold
model = DecisionTreeClassifier()
skfold = StratifiedKFold(n_splits=2)
from sklearn.model_selection import cross_val_score
score1 = cross_val_score(model,x,y,cv=skfold)
print(score1)
print(np.mean(score1))

[0.5  0.52]
0.51

In [8]:
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
model = KNeighborsClassifier()
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)
model.fit(x_train,y_train)
score = model.score(x_test,y_test)
print(score)

0.525

In [9]:
#K FOLD CROSS VALIDATION
import numpy as np
from sklearn.model_selection import KFold
model = KNeighborsClassifier()
kfold=KFold(15)

from sklearn.model_selection import cross_val_score
score = cross_val_score(model,x,y,cv=kfold)
print(score)
print(np.mean(score))

[0.51851852 0.55555556 0.59259259 0.51851852 0.55555556 0.62962963
 0.40740741 0.44444444 0.55555556 0.48148148 0.69230769 0.61538462
 0.53846154 0.46153846 0.53846154]
0.540360873694207

In [10]:
from sklearn.model_selection import StratifiedKFold
model = KNeighborsClassifier()
skfold = StratifiedKFold()
from sklearn.model_selection import cross_val_score
score1 = cross_val_score(model,x,y,cv=skfold)
print(score1)
print(np.mean(score1))

[0.425  0.5375 0.475  0.675  0.55  ]
0.5325

In [11]:
#LOOCV Leave One Out Cross VAlidation
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
model = DecisionTreeClassifier()
loocv = LeaveOneOut()
score2 = cross_val_score(model,x,y,cv=loocv)
print(score2)
print(np.mean(score2))

[1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 1. 1. 1. 1. 0. 0. 1. 0. 0.
 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1.
 0. 0. 0. 0. 1. 0. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1. 0. 1. 0. 0. 0. 0. 1.
 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 0. 1. 1. 0. 1. 1. 0.
 0. 1. 0. 1. 0. 0. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1. 1. 1.
 0. 0. 0. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 1. 0.
 0. 0. 1. 1. 0. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 1. 1. 0. 0. 0. 1. 0. 1. 1.
 0. 0. 0. 0. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 0. 0. 0. 0. 0.
 1. 0. 1. 0. 0. 1. 0. 0. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 0.
 1. 1. 1. 1. 0. 0. 0. 0. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0. 0. 1. 1. 1. 0. 0.
 0. 0. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 0. 0. 0. 1. 0.
 0. 0. 0. 1. 1. 0. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1.
 0. 0. 0. 1. 0. 1. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 0.
 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0. 0. 0. 1. 1. 1. 0.
 1. 0. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 0. 0. 1. 0. 0. 0. 0. 1. 0. 1. 1. 1.
 1. 1. 0. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 1. 1.]
0.5

In [12]:
from sklearn.model_selection import LeaveOneOut
from sklearn.model_selection import cross_val_score
model = KNeighborsClassifier()
loocv = LeaveOneOut()
score2 = cross_val_score(model,x,y,cv=loocv)
print(score2)
print(np.mean(score2))

[1. 1. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 1. 1. 0. 1. 0. 0. 0. 1. 1. 1. 0. 0.
 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 0. 0. 0. 0. 0. 1. 0. 0. 1. 1. 1. 0.
 0. 0. 0. 1. 1. 0. 0. 0. 0. 1. 1. 1. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1.
 0. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 0. 0. 1. 0. 0. 1. 1.
 0. 1. 0. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 1. 0. 0. 1. 0. 0. 0. 1. 1. 1. 1.
 0. 0. 1. 1. 0. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 0. 1. 1. 0. 0. 0. 1. 1. 1.
 0. 0. 1. 1. 1. 1. 0. 0. 1. 1. 0. 0. 1. 1. 0. 1. 0. 0. 0. 0. 1. 0. 0. 0.
 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 1. 0. 0. 0. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1.
 1. 0. 1. 1. 0. 1. 1. 0. 0. 1. 1. 0. 0. 1. 0. 1. 0. 0. 1. 0. 0. 1. 1. 1.
 1. 0. 1. 0. 1. 1. 1. 0. 1. 1. 0. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 0.
 0. 1. 0. 0. 1. 1. 1. 0. 1. 1. 0. 1. 1. 0. 1. 0. 1. 0. 1. 1. 0. 1. 0. 1.
 1. 1. 0. 1. 0. 1. 1. 0. 1. 1. 1. 1. 1. 1. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1.
 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 1. 0. 1. 1. 1. 0. 1. 0. 1. 1. 0. 1. 0. 0.
 1. 1. 0. 1. 0. 0. 1. 0. 1. 1. 1. 1. 1. 1. 0. 1. 0. 0. 0. 0. 1. 1. 0. 0.
 1. 0. 0. 1. 0. 1. 0. 1. 0. 1. 0. 1. 1. 1. 1. 1. 0. 0. 0. 0. 1. 1. 1. 0.
 0. 0. 1. 0. 0. 1. 1. 1. 1. 1. 1. 0. 1. 0. 1. 0. 0. 0. 1. 0. 1. 1. 1. 0.
 0. 0. 1. 1. 0. 1. 1. 1. 1. 1. 0. 0. 1. 0. 1. 1.]
0.5675